.DS_Store
omnifocus-data/
.mypy_cache/
OmniFocus\.csv

bin/

omnifocus_graph_creator\.egg-info/

dist/

build/lib/omnifocus-graph-creator/


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk


#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
